[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib
[submodule "fast5"]
	path = fast5
	url = https://github.com/mateidavid/fast5
[submodule "slow5lib"]
	path = slow5lib
	url = git@github.com:hasindu2008/slow5lib.git
